button {
    padding: 17px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 5px;
    background: var(--app-light-color);
    color: var(--app-main-color);
}

button.active {
    background: var(--app-main-color);
    color: white;

    &:hover {
        border-color: gray;
        background: var(--app-main-color);
        color: white;
    }
}

button:hover {
    border-color: black;
    background: var(--app-main-color);
    color: white;
}